body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;

}

h1 {
    color: black;
    text-align: center;
    margin: 10px;
}

div {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    display: block;
    margin-top: 1.5rem;
    margin: auto;
    text-align: center;
    border: 0;
    color: black;
    background-color: palevioletred;
    font-weight: 600;
    padding: 10px;
    border-radius: 2px;
}

#popover {
    background-color: pink;
    font-weight: 600;
    border: 0;
}